<div style="text-align:center">
  <h1>
    Welcome to Yelp Api!
  </h1>

<form (submit) = "sendFetch(input.value, price.value); false">
<select #price>
  <option value = "$">$</option>
  <option value = "$$">$$</option>
  <option value = "$$$">$$$</option>
  <option value = "$$$$">$$$$</option>
</select>

<label>Location</label>
  <input #input />

  <button type ="submit">Submit</button>
</form>

<div *ngIf= "dinnerdone ==true"></div>
  <img src={{dinner.image_url}}/>
  <ul>
    <li>Rating: {{ratingView}}</li>
    <li>Name: {{dinner.name}}</li>
    <li>Address: {{dinner.location.address}}</li>
    <li>City: {{dinner.location.city}}</li>
    <li>Phone: {{dinner.phone}}</li>
    <li *ngIf = "transaction == true">Delivery: Yes</li>
  </ul>
</div>

